# Task 1

1. Install jupyter notebook and run first program

In [1]:
print("Hello iNeuron Team, Thank you very much for your efforts!")

Hello iNeuron Team, Thank you very much for your efforts!

2. numbers divisible by 7 , not multiple of 5 , bw 2000 to 3200, comma seperated in single line

In [27]:
m=[]
for i in range(2000,3201,1):
    a=i//7
    b=i/7
    if a==b:
        c=i/5
        d=i//5
    
        if c!=d:
            m.append(i)
m

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

3. first name + last name & print in reverse order with the seperation

In [43]:
a = input("enter the first name here:  ")
b = input("enter the last name here:  ")
print(b,a)

enter the first name here:  navya
enter the last name here:  jonnal
jonnal navya

4.Volume of sphere d=12cm

In [54]:
d=12
# radius = diameter/2
r=d//2
# pie= 3.14
v=((4/3)*3.14*r*r*r)
v

904.3199999999998

# Task 2

1. sequence of comma seperated numbers from console and generate a list

In [13]:
m=[]
for i in input('enter the numbers '):
    m.append(i)
# to print the list with out the comma in it
m[0: :2]

enter the numbers 1,2,3,4,5

['1', '2', '3', '4', '5']

2. print pattern using nested for loop

In [14]:

g='*'
k=4
for i in range(10):
    if i<=4:
        print(g)
        g=g+'*'
    if i>=5:
        print(g[0:k])
        k=k-1

*
**
***
****
*****
****
***
**
*

3. reverse word after accepting input from user

In [18]:
a=input('enter the word here: ')
a[ : :-1]

enter the word here: AcadGild

'dliGdacA'

4. print the given string in the formate specified

In [99]:
s='WE, THE PEOPLE OF INDIA,having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens'
k='       '
print(s[0:24:])  
print(k+s[24:86:]+'!')
print(k+k+s[86:126:])
print(k+k+s[126::])

WE, THE PEOPLE OF INDIA,
       having solemnly resolved to constitute India into a SOVEREIGN,!
               SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
               and to secure to all its citizens

# END of Assignment 1 , Thank you!!